@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
:root {
  --primary-color: #f9a826;
  --light-blue: #12b5e7;
  --off-white: #f1f5f9;
  --link-color: rgb(78, 7, 145);
}
body {
  background: #fff;
  font-family: "Merriweather", serif;
  padding: 0px;
  margin: 0px;
}
.error_message {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0, 3);
  background: var(--primary-color);
  margin: 170px auto;
  overflow: hidden;
  width: 400px;
  color: rgba(255, 255, 255, 8);
  padding: 50px 75px 60px;
}
.error_message h1 {
  color: black;
  font-size: 120px;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.image {
  height: 220px;
  width: 220px;
  display: block;
  margin: auto;
}
.error_message .para {
  font-size: 22px;
  text-align: center;
  color: black;
}
.list-non-bullet {
  list-style: none;
}
.list-item-inline {
  display: inline;
}
.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.status_link {
  border-radius: 2rem;
  color: var(--link-color);
  max-width: 140px;
  padding: 0.6rem 1.2rem;
  margin: 1rem auto;
}
.docs_link {
  border-radius: 2rem;
  color: var(--link-color);
  max-width: 140px;
  padding: 0.6rem 1.2rem;
  margin: 1rem;
}

.error_message .links li a:hover {
  background: #d85a60;
}
.error_message .links li span {
  font-size: 11px;
  text-transform: uppercase;
}
